/*
 * Copyright 2017-2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "fsl-imx8qxp-mek.dtsi"


/ {
   model = "Ensemble i.MX8QXP v1";	compatible = "fsl,imx8qxp-mek", "fsl,imx8qxp";
    aliases {
    	serial2 = &serial_lpuart2;
	};

    passthrough {
        compatible = "simple-bus";
        ranges;
        #address-cells = <0x2>;
        #size-cells = <0x2>;
        interrupt-parent = <&gic>;

        serial_lpuart2: serial@5a080000 {
            compatible = "fsl,imx8qxp-lpuart", "fsl,imx7ulp-lpuart";
            reg = <0x0 0x5a080000 0x0 0x1000>;
            interrupts = <GIC_SPI 379 IRQ_TYPE_LEVEL_HIGH>;
            status = "okay";
        };
    };
};
